<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Game <%= id %></title>
  </head>
  <body>
    <h1>
      Welcome to game
      <%= id %>
    </h1>
    <p>
      <%= name %> with max players <%= max_players %>, created at <%= (new
      Date(created_at)).toLocaleDateString() %> by <%= created_by %>
    </p>

    <div id="game-area">
      <div id="discard-pile">
        <div class="card blue two"></div>
      </div>
    </div>

    <div class="player">
      <div class="hand">
        <div class="card green five"></div>
      </div>
    </div>

    <p><a href="/lobby">Return to lobby</a></p>
  </body>
</html>
